
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0.8;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99999; /* makes sure it stays on top */
}


.cssload-container{
	/* position:relative; */
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid rgb(204,204,204);
	border-left-color: rgb(9,210,237);
	border-radius: 1623px;
		-o-border-radius: 1623px;
		-ms-border-radius: 1623px;
		-webkit-border-radius: 1623px;
		-moz-border-radius: 1623px;
}

.cssload-whirlpool {
	margin: -41px 0 0 -41px;
	height: 81px;
	width: 81px;
	animation: cssload-rotate 1300ms linear infinite;
		-o-animation: cssload-rotate 1300ms linear infinite;
		-ms-animation: cssload-rotate 1300ms linear infinite;
		-webkit-animation: cssload-rotate 1300ms linear infinite;
		-moz-animation: cssload-rotate 1300ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -37px 0 0 -37px;
	height: 72px;
	width: 72px;
	animation: cssload-rotate 1300ms linear infinite;
		-o-animation: cssload-rotate 1300ms linear infinite;
		-ms-animation: cssload-rotate 1300ms linear infinite;
		-webkit-animation: cssload-rotate 1300ms linear infinite;
		-moz-animation: cssload-rotate 1300ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -47px 0 0 -47px;
	height: 91px;
	width: 91px;
	animation: cssload-rotate 2600ms linear infinite;
		-o-animation: cssload-rotate 2600ms linear infinite;
		-ms-animation: cssload-rotate 2600ms linear infinite;
		-webkit-animation: cssload-rotate 2600ms linear infinite;
		-moz-animation: cssload-rotate 2600ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}